@model BaseDeDonnéesLivres.Models.LivreDesire

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LivreDesire</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="titre" class="control-label"></label>
                <input asp-for="titre" class="form-control" />
                <span asp-validation-for="titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="anneePublication" class="control-label"></label>
                <input asp-for="anneePublication" class="form-control" />
                <span asp-validation-for="anneePublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="auteur" class="control-label"></label>
                <input asp-for="auteur" class="form-control" />
                <span asp-validation-for="auteur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imageLivre" class="control-label"></label>
                <input asp-for="imageLivre" type="file">
                <span asp-validation-for="imageLivre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
